In [3]:
from google.colab import drive
drive.mount('/content/drive')

path = "drive/My Drive/FiQA/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pickle
from collections import Counter
from tqdm import tqdm
import itertools
import pandas as pd
from itertools import islice

def take(n, iterable):
    "Return first n items of the iterable as a list"
    return list(islice(iterable, n))

def remove_empty(test_set):
    for index, row in enumerate(test_set):
        for doc in row[1]:
            if doc in empty_docs:
                del test_set[index]
    return test_set

def load_pickle(path):
    with open(path, 'rb') as f:
        return pickle.load(f)

def save_pickle(path, data):
    with open(path, 'wb') as handle:
        pickle.dump(data, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [0]:
train_set = load_pickle(path + 'data-bert/data_train_50.pickle')
empty_docs = load_pickle(path+'empty_docs.pickle')
train_set = [x for x in train_set if x[1] not in empty_docs]

In [7]:
!pip install transformers

import torch
from transformers import BertTokenizer

# Load the BERT tokenizer.
print('Loading BERT tokenizer...')
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased', do_lower_case=True)

Requirement already satisfied: transformers in /usr/local/lib/python3.6/dist-packages (2.4.1)
Requirement already satisfied: filelock in /usr/local/lib/python3.6/dist-packages (from transformers) (3.0.12)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.6/dist-packages (from transformers) (0.1.85)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.6/dist-packages (from transformers) (4.28.1)
Requirement already satisfied: tokenizers==0.0.11 in /usr/local/lib/python3.6/dist-packages (from transformers) (0.0.11)
Requirement already satisfied: boto3 in /usr/local/lib/python3.6/dist-packages (from transformers) (1.11.10)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.6/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.6/dist-packages (from transformers) (0.0.38)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from transformers) (1.17.5)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from transformers) (2.21.0)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /usr/local/lib/python3.6/dist-packages (from boto3->transformers) (0.3.2)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.6/dist-packages (from boto3->transformers) (0.9.4)
Requirement already satisfied: botocore<1.15.0,>=1.14.10 in /usr/local/lib/python3.6/dist-packages (from boto3->transformers) (1.14.10)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers) (7.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers) (1.12.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers) (0.14.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->transformers) (2.8)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.6/dist-packages (from botocore<1.15.0,>=1.14.10->boto3->transformers) (2.6.1)
Requirement already satisfied: docutils<0.16,>=0.10 in /usr/local/lib/python3.6/dist-packages (from botocore<1.15.0,>=1.14.10->boto3->transformers) (0.15.2)

Loading BERT tokenizer...

In [0]:
collection = pd.read_csv(path+"data-bert/collection_new.tsv", sep="\t", header=None)
collection = collection.rename(columns={0: 'docid', 1: 'doc'})

def load_questions(path):
    """
    Returns a dataframe of cols: qid, question
    """
    # Question ID and Question text
    query_df = pd.read_csv(path, sep="\t")
    queries = query_df[['qid', 'question']]

    return queries

queries = load_questions(path + "FiQA_train_question_final.tsv")

In [0]:
queries['tokenized_q'] = queries['question'].apply(lambda x: tokenizer.tokenize(x))
queries['len'] = queries['tokenized_q'].apply(lambda x: len(x))

In [10]:
queries.len.max()

40

In [0]:
collection['tokenized_a'] = collection['doc'].apply(lambda x: tokenizer.tokenize(x))
collection['len'] = collection['tokenized_a'].apply(lambda x: len(x))

In [12]:
collection.head(5)

   docid  ...  len
0      3  ...  100
1     31  ...   95
2     56  ...  100
3     59  ...   62
4     63  ...  254

[5 rows x 4 columns]

In [13]:
queries.head(5)

   qid  ... len
0    0  ...  11
1    1  ...   9
2    2  ...  10
3    3  ...  18
4    4  ...  17

[5 rows x 4 columns]

In [0]:
label_to_ans = {}

for index, row in collection.iterrows():
    label_to_ans[row['docid']] = row['tokenized_a']

# Question to question text
qid_to_text = {}

for index, row in queries.iterrows():
    qid_to_text[row['qid']] = row['tokenized_q']

In [0]:
save_pickle(path+"data-bert/label_to_ans.pickle", label_to_ans)
save_pickle(path+"data-bert/qid_to_text.pickle", qid_to_text)

In [0]:
def add_question_token(q_tokens):
    c = "[CLS]"
    s = "[SEP]"
    q_tokens = [c] + q_tokens
    q_tokens = q_tokens + [s]

    return q_tokens

def add_ans_token(a_tokens):
    s = "[SEP]"
    a_tokens = a_tokens + [s]

    return a_tokens

In [17]:
train_df = pd.DataFrame(train_set)

train_df = train_df.rename(columns={0: 'qid', 1: 'pos', 2:'neg'})

train_pos = train_df[['qid', 'pos']]
train_pos = train_pos.rename(columns={'pos': 'docid'})
train_pos['label'] = train_pos.apply(lambda x: 1, axis=1)
train_pos = train_pos.drop_duplicates()

train_neg = train_df[['qid', 'neg']]
train_neg = train_neg.rename(columns={'neg': 'docid'})
train_neg['label'] = train_neg.apply(lambda x: 0, axis=1)

train = pd.concat([train_pos, train_neg]).sort_values(by=['qid'])

train.head(5)

    qid   docid  label
0     0   18850      1
20    0  408058      0
21    0  343708      0
22    0  311069      0
23    0  139094      0

In [18]:
train['question'] = train['qid'].apply(lambda x: qid_to_text[x])
train['ans_cand'] = train['docid'].apply(lambda x: label_to_ans[x])
train['ques_token'] = train['question'].apply(lambda x: add_question_token(x))
train['ans_cand'] = train['ans_cand'].apply(lambda x: add_ans_token(x))

# train['seq'] = train[['question', 'ans_cand']].apply(lambda x: ' '.join(x), axis=1)

train.head(5)

    qid  ...                                         ques_token
0     0  ...  [[CLS], what, is, considered, a, business, exp...
20    0  ...  [[CLS], what, is, considered, a, business, exp...
21    0  ...  [[CLS], what, is, considered, a, business, exp...
22    0  ...  [[CLS], what, is, considered, a, business, exp...
23    0  ...  [[CLS], what, is, considered, a, business, exp...

[5 rows x 6 columns]

In [20]:
train.at[0, "ques_token"]

array([list(['[CLS]', 'what', 'is', 'considered', 'a', 'business', 'expense', 'on', 'a', 'business', 'trip', '?', '[SEP]']),
       list(['[CLS]', 'what', 'is', 'considered', 'a', 'business', 'expense', 'on', 'a', 'business', 'trip', '?', '[SEP]'])],
      dtype=object)

In [0]:
train.to_csv(path+"data-bert/train.csv", index=False, header=False)

In [101]:
train.question.str.len().max()
train.ans_cand.str.len().max()

16990

In [89]:
train = train[['qid', 'docid', 'label', 'seq']]
train.head(5)

    qid   docid  label                                                seq
0     0   18850      1  [CLS] What is considered a business expense on...
20    0  408058      0  [CLS] What is considered a business expense on...
21    0  343708      0  [CLS] What is considered a business expense on...
22    0  311069      0  [CLS] What is considered a business expense on...
23    0  139094      0  [CLS] What is considered a business expense on...

In [0]:
# Get the lists of sentences and their labels.
sequences = train.seq.values
labels = train.label.values

In [95]:
# Print the original sentence.
print(' Original: ', sequences[0])

# Print the sentence split into tokens.
print('Tokenized: ', tokenizer.tokenize(sequences[0]))

# Print the sentence mapped to token ids.
print('Token IDs: ', tokenizer.convert_tokens_to_ids(tokenizer.tokenize(sequences[0])))

 Original:  [CLS] What is considered a business expense on a business trip? [SEP] The IRS Guidance pertaining to the subject.  In general the best I can say is your business expense may be deductible.  But it depends on the circumstances and what it is you want to deduct. Travel Taxpayers who travel away from home on business may deduct related   expenses, including the cost of reaching their destination, the cost   of lodging and meals and other ordinary and necessary expenses.   Taxpayers are considered “traveling away from home” if their duties   require them to be away from home substantially longer than an   ordinary day’s work and they need to sleep or rest to meet the demands   of their work. The actual cost of meals and incidental expenses may be   deducted or the taxpayer may use a standard meal allowance and reduced   record keeping requirements. Regardless of the method used, meal   deductions are generally limited to 50 percent as stated earlier.    Only actual costs for lodging may be claimed as an expense and   receipts must be kept for documentation. Expenses must be reasonable   and appropriate; deductions for extravagant expenses are not   allowable. More information is available in Publication 463, Travel,   Entertainment, Gift, and Car Expenses. Entertainment Expenses for entertaining clients, customers or employees may be   deducted if they are both ordinary and necessary and meet one of the   following tests: Directly-related test: The main purpose of the entertainment activity is the conduct of business, business was actually conducted   during the activity and the taxpayer had more than a general   expectation of getting income or some other specific business benefit   at some future time.   Associated test: The entertainment was associated with the active conduct of the taxpayer’s trade or business and occurred directly   before or after a substantial business discussion. Publication 463 provides more extensive explanation of these tests as   well as other limitations and requirements for deducting entertainment   expenses. Gifts Taxpayers may deduct some or all of the cost of gifts given in the   course of their trade or business. In general, the deduction is   limited to $25 for gifts given directly or indirectly to any one   person during the tax year. More discussion of the rules and   limitations can be found in Publication 463. If your LLC reimburses you for expenses outside of this guidance it should be treated as Income for tax purposes. Edit for Meal Expenses: Amount of standard meal allowance.   The standard meal allowance is   the federal M&IE rate. For travel in 2010, the rate for most small   localities in the United States is $46 a day. Source IRS P463 Alternately you could reimburse at a per diem rate [SEP]
Tokenized:  ['[CLS]', 'what', 'is', 'considered', 'a', 'business', 'expense', 'on', 'a', 'business', 'trip', '?', '[SEP]', 'the', 'irs', 'guidance', 'pertaining', 'to', 'the', 'subject', '.', 'in', 'general', 'the', 'best', 'i', 'can', 'say', 'is', 'your', 'business', 'expense', 'may', 'be', 'de', '##du', '##ct', '##ible', '.', 'but', 'it', 'depends', 'on', 'the', 'circumstances', 'and', 'what', 'it', 'is', 'you', 'want', 'to', 'de', '##du', '##ct', '.', 'travel', 'taxpayers', 'who', 'travel', 'away', 'from', 'home', 'on', 'business', 'may', 'de', '##du', '##ct', 'related', 'expenses', ',', 'including', 'the', 'cost', 'of', 'reaching', 'their', 'destination', ',', 'the', 'cost', 'of', 'lodging', 'and', 'meals', 'and', 'other', 'ordinary', 'and', 'necessary', 'expenses', '.', 'taxpayers', 'are', 'considered', '“', 'traveling', 'away', 'from', 'home', '”', 'if', 'their', 'duties', 'require', 'them', 'to', 'be', 'away', 'from', 'home', 'substantially', 'longer', 'than', 'an', 'ordinary', 'day', '’', 's', 'work', 'and', 'they', 'need', 'to', 'sleep', 'or', 'rest', 'to', 'meet', 'the', 'demands', 'of', 'their', 'work', '.', 'the', 'actual', 'cost', 'of', 'meals', 'and', 'incident', '##al', 'expenses', 'may', 'be', 'de', '##ducted', 'or', 'the', 'taxpayer', 'may', 'use', 'a', 'standard', 'meal', 'allowance', 'and', 'reduced', 'record', 'keeping', 'requirements', '.', 'regardless', 'of', 'the', 'method', 'used', ',', 'meal', 'de', '##duction', '##s', 'are', 'generally', 'limited', 'to', '50', 'percent', 'as', 'stated', 'earlier', '.', 'only', 'actual', 'costs', 'for', 'lodging', 'may', 'be', 'claimed', 'as', 'an', 'expense', 'and', 'receipts', 'must', 'be', 'kept', 'for', 'documentation', '.', 'expenses', 'must', 'be', 'reasonable', 'and', 'appropriate', ';', 'de', '##duction', '##s', 'for', 'extravagant', 'expenses', 'are', 'not', 'allow', '##able', '.', 'more', 'information', 'is', 'available', 'in', 'publication', '46', '##3', ',', 'travel', ',', 'entertainment', ',', 'gift', ',', 'and', 'car', 'expenses', '.', 'entertainment', 'expenses', 'for', 'entertaining', 'clients', ',', 'customers', 'or', 'employees', 'may', 'be', 'de', '##ducted', 'if', 'they', 'are', 'both', 'ordinary', 'and', 'necessary', 'and', 'meet', 'one', 'of', 'the', 'following', 'tests', ':', 'directly', '-', 'related', 'test', ':', 'the', 'main', 'purpose', 'of', 'the', 'entertainment', 'activity', 'is', 'the', 'conduct', 'of', 'business', ',', 'business', 'was', 'actually', 'conducted', 'during', 'the', 'activity', 'and', 'the', 'taxpayer', 'had', 'more', 'than', 'a', 'general', 'expectation', 'of', 'getting', 'income', 'or', 'some', 'other', 'specific', 'business', 'benefit', 'at', 'some', 'future', 'time', '.', 'associated', 'test', ':', 'the', 'entertainment', 'was', 'associated', 'with', 'the', 'active', 'conduct', 'of', 'the', 'taxpayer', '’', 's', 'trade', 'or', 'business', 'and', 'occurred', 'directly', 'before', 'or', 'after', 'a', 'substantial', 'business', 'discussion', '.', 'publication', '46', '##3', 'provides', 'more', 'extensive', 'explanation', 'of', 'these', 'tests', 'as', 'well', 'as', 'other', 'limitations', 'and', 'requirements', 'for', 'de', '##du', '##cting', 'entertainment', 'expenses', '.', 'gifts', 'taxpayers', 'may', 'de', '##du', '##ct', 'some', 'or', 'all', 'of', 'the', 'cost', 'of', 'gifts', 'given', 'in', 'the', 'course', 'of', 'their', 'trade', 'or', 'business', '.', 'in', 'general', ',', 'the', 'de', '##duction', 'is', 'limited', 'to', '$', '25', 'for', 'gifts', 'given', 'directly', 'or', 'indirectly', 'to', 'any', 'one', 'person', 'during', 'the', 'tax', 'year', '.', 'more', 'discussion', 'of', 'the', 'rules', 'and', 'limitations', 'can', 'be', 'found', 'in', 'publication', '46', '##3', '.', 'if', 'your', 'llc', 'rei', '##mb', '##urse', '##s', 'you', 'for', 'expenses', 'outside', 'of', 'this', 'guidance', 'it', 'should', 'be', 'treated', 'as', 'income', 'for', 'tax', 'purposes', '.', 'edit', 'for', 'meal', 'expenses', ':', 'amount', 'of', 'standard', 'meal', 'allowance', '.', 'the', 'standard', 'meal', 'allowance', 'is', 'the', 'federal', 'm', '&', 'ie', 'rate', '.', 'for', 'travel', 'in', '2010', ',', 'the', 'rate', 'for', 'most', 'small', 'localities', 'in', 'the', 'united', 'states', 'is', '$', '46', 'a', 'day', '.', 'source', 'irs', 'p', '##46', '##3', 'alternately', 'you', 'could', 'rei', '##mb', '##urse', 'at', 'a', 'per', 'die', '##m', 'rate', '[SEP]']
Token IDs:  [101, 2054, 2003, 2641, 1037, 2449, 10961, 2006, 1037, 2449, 4440, 1029, 102, 1996, 25760, 8606, 20246, 2000, 1996, 3395, 1012, 1999, 2236, 1996, 2190, 1045, 2064, 2360, 2003, 2115, 2449, 10961, 2089, 2022, 2139, 8566, 6593, 7028, 1012, 2021, 2009, 9041, 2006, 1996, 6214, 1998, 2054, 2009, 2003, 2017, 2215, 2000, 2139, 8566, 6593, 1012, 3604, 26457, 2040, 3604, 2185, 2013, 2188, 2006, 2449, 2089, 2139, 8566, 6593, 3141, 11727, 1010, 2164, 1996, 3465, 1997, 4285, 2037, 7688, 1010, 1996, 3465, 1997, 26859, 1998, 12278, 1998, 2060, 6623, 1998, 4072, 11727, 1012, 26457, 2024, 2641, 1523, 7118, 2185, 2013, 2188, 1524, 2065, 2037, 5704, 5478, 2068, 2000, 2022, 2185, 2013, 2188, 12381, 2936, 2084, 2019, 6623, 2154, 1521, 1055, 2147, 1998, 2027, 2342, 2000, 3637, 2030, 2717, 2000, 3113, 1996, 7670, 1997, 2037, 2147, 1012, 1996, 5025, 3465, 1997, 12278, 1998, 5043, 2389, 11727, 2089, 2022, 2139, 29510, 2030, 1996, 26980, 2089, 2224, 1037, 3115, 7954, 21447, 1998, 4359, 2501, 4363, 5918, 1012, 7539, 1997, 1996, 4118, 2109, 1010, 7954, 2139, 16256, 2015, 2024, 3227, 3132, 2000, 2753, 3867, 2004, 3090, 3041, 1012, 2069, 5025, 5366, 2005, 26859, 2089, 2022, 3555, 2004, 2019, 10961, 1998, 28258, 2442, 2022, 2921, 2005, 12653, 1012, 11727, 2442, 2022, 9608, 1998, 6413, 1025, 2139, 16256, 2015, 2005, 27856, 11727, 2024, 2025, 3499, 3085, 1012, 2062, 2592, 2003, 2800, 1999, 4772, 4805, 2509, 1010, 3604, 1010, 4024, 1010, 5592, 1010, 1998, 2482, 11727, 1012, 4024, 11727, 2005, 14036, 7846, 1010, 6304, 2030, 5126, 2089, 2022, 2139, 29510, 2065, 2027, 2024, 2119, 6623, 1998, 4072, 1998, 3113, 2028, 1997, 1996, 2206, 5852, 1024, 3495, 1011, 3141, 3231, 1024, 1996, 2364, 3800, 1997, 1996, 4024, 4023, 2003, 1996, 6204, 1997, 2449, 1010, 2449, 2001, 2941, 4146, 2076, 1996, 4023, 1998, 1996, 26980, 2018, 2062, 2084, 1037, 2236, 17626, 1997, 2893, 3318, 2030, 2070, 2060, 3563, 2449, 5770, 2012, 2070, 2925, 2051, 1012, 3378, 3231, 1024, 1996, 4024, 2001, 3378, 2007, 1996, 3161, 6204, 1997, 1996, 26980, 1521, 1055, 3119, 2030, 2449, 1998, 4158, 3495, 2077, 2030, 2044, 1037, 6937, 2449, 6594, 1012, 4772, 4805, 2509, 3640, 2062, 4866, 7526, 1997, 2122, 5852, 2004, 2092, 2004, 2060, 12546, 1998, 5918, 2005, 2139, 8566, 11873, 4024, 11727, 1012, 9604, 26457, 2089, 2139, 8566, 6593, 2070, 2030, 2035, 1997, 1996, 3465, 1997, 9604, 2445, 1999, 1996, 2607, 1997, 2037, 3119, 2030, 2449, 1012, 1999, 2236, 1010, 1996, 2139, 16256, 2003, 3132, 2000, 1002, 2423, 2005, 9604, 2445, 3495, 2030, 17351, 2000, 2151, 2028, 2711, 2076, 1996, 4171, 2095, 1012, 2062, 6594, 1997, 1996, 3513, 1998, 12546, 2064, 2022, 2179, 1999, 4772, 4805, 2509, 1012, 2065, 2115, 11775, 24964, 14905, 28393, 2015, 2017, 2005, 11727, 2648, 1997, 2023, 8606, 2009, 2323, 2022, 5845, 2004, 3318, 2005, 4171, 5682, 1012, 10086, 2005, 7954, 11727, 1024, 3815, 1997, 3115, 7954, 21447, 1012, 1996, 3115, 7954, 21447, 2003, 1996, 2976, 1049, 1004, 29464, 3446, 1012, 2005, 3604, 1999, 2230, 1010, 1996, 3446, 2005, 2087, 2235, 19664, 1999, 1996, 2142, 2163, 2003, 1002, 4805, 1037, 2154, 1012, 3120, 25760, 1052, 21472, 2509, 23554, 2017, 2071, 24964, 14905, 28393, 2012, 1037, 2566, 3280, 2213, 3446, 102]

In [0]:
# Tokenize all of the sentences and map the tokens to thier word IDs.
input_ids = []

for seq in sequences:
    # `encode` will:
    #   (1) Tokenize the sentence.
    #   (2) Map tokens to their IDs.
    encoded_seq = tokenizer.encode(
                        seq,                      # Sentence to encode.
                        add_special_tokens = False, # Add '[CLS]' and '[SEP]'
                   )
    
    # Add the encoded sentence to the list.
    input_ids.append(encoded_seq)

# Print sentence 0, now as a list of IDs.
print('Original: ', sequences[0])
print('Token IDs:', input_ids[0])