In [1]:
import pandas as pd
import regex as re
import string
import json
import csv

In [2]:
# Question ID and Answer text pair
df = pd.read_csv("train/FiQA_train_doc_final.tsv", sep="\t")
collection = df[['docid', 'doc']]
collection = collection.sort_values(by=['docid'])

collection.head(5)

   docid                                                doc
0      3  I'm not saying I don't like the idea of on-the...
1     31  So nothing preventing false ratings besides ad...
2     56  You can never use a health FSA for individual ...
3     59  Samsung created the LCD and other flat screen ...
4     63  Here are the SEC requirements: The federal sec...

In [7]:
with open("fiqa-passage/doc.tsv",'w') as write_tsv:
    write_tsv.write(collection.to_csv(sep='\t', index=False, header=False))

In [11]:
output_jsonl_file = open("fiqa-passage/collection2_jsonl/docs00.json", 'w', encoding='utf-8', newline='\n')

with open("fiqa-passage/collection.tsv", encoding='utf-8') as f:
    for i, line in enumerate(f):
        id_text = line.rstrip().split('\t')
        doc_id, doc_text = id_text[0], id_text[1]
        
        output_dict = {'id': doc_id, 'contents': doc_text}
        
        output_jsonl_file.write(json.dumps(output_dict) + '\n')

In [12]:
# Question ID and Question text pair
query_df = pd.read_csv("train/FiQA_train_question_final.tsv", sep="\t")

query_df.head(5)

print(len(query_df))

6648

In [13]:
queries = query_df[['qid', 'question']]

queries.head(5)

   qid                                           question
0    0  What is considered a business expense on a bus...
1    1  Claiming business expenses for a business with...
2    2  Transferring money from One business checking ...
3    3  Having a separate bank account for business/in...
4    4  Business Expense - Car Insurance Deductible Fo...

In [14]:
with open("fiqa-passage/queries2_train.tsv",'w') as write_tsv:
    write_tsv.write(queries.to_csv(sep='\t', index=False, header=False))